.containerCenter {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 80%;
    max-width: 476px;
    height: auto;
}

.login {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;

    form {
        color: var(--white);
        display: flex;
        flex-direction: column;
        width: 70%;
        max-width: 400px;
        gap: 16px;
    }

    form button {
        padding: 13px 0;
        font-size: 18px;
        background-color: var(--red-900);
        color: var(--white);
        font-weight: bold;
        border: 0;
        border-radius: 6px;
        transition: transform 0.2s ease-in-out;
    }

    form button:hover {
        transform: scale(1.02);
    }
}

.input {
    font-size: 16px;
    background-color: var(--dark-900);
    padding: 13px 16px;
    color: var(--white);
    border-radius: 6px;
    border: 1px solid var(--gray-100);
}

.input:focus {
    border: 2px solid var(--gray-100);
}

.text {
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
}
